.footer {
  background-color: hsl(171, 100%, 41%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon {
  color: hsl(171, 100%, 29%);
}

.button, .btn {
  box-shadow: 2px 2px 5px rgb(0, 148, 126);
}

.dropdown-menu {
  margin: auto;
}


.progress::-webkit-progress-value {
  background-color: #AF125A !important;
  
}