.footer {
  background-color: hsl(171, 100%, 41%);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.icon {
  color: hsl(171, 100%, 29%);
}

.button,
.btn {
  box-shadow: 2px 2px 5px rgb(0, 148, 126);
}

.dropdown-menu {
  margin: auto;
}

.progress::-webkit-progress-value {
  background-color: #af125a !important;
}

.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

.image.is-max256w {
  /* height: 256px; */
  max-width: 256px;
}
